/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Orbitron:400,900);

 .group:after {
  content: "";
  display: block;
  clear: both;
}
 a {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
 }

.search-results a{
  color: #000;
}



body{
  font-family: 'Orbitron', sans-serif;
  background: url(background.jpg);
  margin: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.content{
  top: 100px;
  overflow: auto;
  height: 80vh;
  background: rgba(45,76,135,0.5);
  color: rgba(255, 204, 0, 0.7);
  margin-bottom: 10vh;
  position: relative;
  transition: background-color 3s, color 3s;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.contentfade-appear {
  opacity: 0.01;
}

.contentfade-appear.contentfade-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.slide-appear {
  transform: translateX(-100vw);
}

.slide-appear.slide-appear-active {
  transform: translateX(0px);
  transition: transform 1s ease-in;
}


// .contentfade-enter {
//   opacity: 0.01;
// }
//
// .contentfade-enter.contentfade-enter-active {
//   opacity: 1;
//   transition: opacity 2000ms ease-in;
// }
//
// .contentfade-leave {
//   opacity: 1;
// }
//
// .contentfade-leave.contentfade-leave-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }

.content .form-control{
  color: rgba(255,255,255,1);
  background-color: rgba(223, 60, 103, 0.8);
}


.flash_messages_component{
  position: relative;
  text-align: center;
}

.flash_messages_component *{
  display: block;
  position: absolute;
  width: 100%;
  height: 3vh;

  z-index: 51;
}

.flash_messages_component span{
  background: transparent;
  text-align: center;
  color: #FFF;
}

.alert-success{
  background-color: rgba(153, 255, 153, 0.5);
}

.alert-error{
  background-color: rgba(223, 60, 103, 0.5);
}


.content button{
  color: rgba(255,255,255,1);
  background-color: rgba(223, 60, 103, 0.8);
  border: 0;

}

.submit{
  color: rgba(255,255,255,1);
  background-color: rgba(223, 60, 103, 0.8);
  border: 0;
}

.light{
  background-color: rgba(0, 153, 255, 0.5);
  color: rgba(255,219,77,0.7);
}

.appears{
  display: inline;
}

.welcome{
  background: rgba(255,255,255,0);
  text-align: center;
}

.errors{
  list-style-type: square;
  color: red;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  border-top: 1px solid white;
  width: 100vw;
  background-color: black;
  text-align: center;
}

.flash_messages_component{
  transition: opacity 1s;
}


@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }


    .container{
      width: 100vw;
    }

}


@media (min-width: 1200px) {
  .container{
    width: 100vw;
    padding: 0;
  }
}
